<template>
  <div class="about">
    <h1>Events for {{ user.user.name }}</h1>
    <h1></h1>

    <EventCard v-for="event in event.events" :key="event.id" :event="event" />

    <template v-if="page != 1">
      <router-link :to="{ name: 'event-list', query: { page: page -1 } }"
        rel="prev">
        Prev page
      </router-link>
    </template>

    <template v-if="hasNextEventPage">
      <router-link :to="{ name: 'event-list', query: { page: page +1 } }"
        rel="next">
        Next page
      </router-link>
    </template>

  </div>
</template>

<script>
import EventCard from '@/components/EventCard.vue';
import { mapState, mapGetters } from 'vuex';
import store from '@/store';

function getPageEvent(routeTo, next) {
  const currentPage = parseInt(routeTo.query.page) || 1;
  store.dispatch('event/fetchEvents', { page: currentPage })
    .then(() => {
      routeTo.params.page = currentPage;
      next();
    })
}

export default {
  props: {
    page: {
      type: Number,
      required: true,
    },
  },
  components: {
    EventCard
  },
  computed: {
    ...mapState(['event', 'user']),
    ...mapGetters('event', ['hasNextEventPage']),
  },
  beforeRouteEnter(routeTo, routeFrom, next) {
    getPageEvent(routeTo, next);
  },
  beforeRouteUpdate(routeTo, routeFrom, next) {
    getPageEvent(routeTo, next);
  },
}

</script>
