<template>
  <div>
    <h1>We cannot find the {{ resource }} you're looking for</h1>
    <router-link :to="{ name: 'event-list'}" rel="home">
      ET go home
    </router-link>

  </div>
</template>

<script>
export default {
  props: {
    resource: {
      type: String,
      required: true,
    }
  },
}
</script>

