<template>
  <div>
    <label v-if="label">{{ label }}</label>
    <select
      :value="value"
      @change="updateValue"
      v-bind="$attrs"
      v-on="$listeners"
    >
      <option
        v-for="option in options"
        :key="option"
        :selected="option === value"
        :value="option"
      >
        {{option}}
      </option>
    </select>

  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: '',
    },
    value: [String, Number],
    options: {
      type: Array,
      required: true,
    }
  },
  methods: {
    updateValue(event) {
      console.log(event.target.value);
      this.$emit('input', event.target.value);
    }
  }
}
</script>
