<template>
  <div class="notication-bar" :class="notificationTypeClass">
    <p>{{ notification.message }}</p>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    notification: {
      type: Object,
      required: true,
    }
  },
  computed: {
    notificationTypeClass() {
      return `text-${this.notification.type}`
    }
  },
  methods: mapActions('notification', ['remove']),
  data() {
    return { timeout: null }
  },
  mounted() {
    this.timeout = setTimeout(() => this.remove(this.notification), 5000)
  },
  beforeDestroy() {
    clearTimeout(this.timeout);
  },
}
</script>

<style scoped>
.notification-bar {
    margin: 1em 0 1em;
}
</style>

